# vhost.conf
<VirtualHost *:80>
    ServerAdmin ing.newa.medina@gmail.com
    DocumentRoot /var/www/html/portafolio/public
    ServerName portafolio.test

    <Directory "/var/www/html/portafolio/public">
        Options Indexes FollowSymLinks
        AllowOverride all
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/portafolio-error.log
    CustomLog ${APACHE_LOG_DIR}/portafolio.log combined
</VirtualHost>