# vhost.conf
<VirtualHost *:80>
    ServerAdmin ing.newa.medina@gmail.com
    DocumentRoot /var/www/html/medical-system/public
    ServerName medical-system.test

    <Directory "/var/www/html/medical-system/public">
        Options Indexes FollowSymLinks
        AllowOverride all
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/medical-system-error.log
    CustomLog ${APACHE_LOG_DIR}/medical-system.log combined
</VirtualHost>