# vhost.conf
<VirtualHost *:80>
    ServerAdmin ing.newa.medina@gmail.com
    DocumentRoot /var/www/html/facturacion/public
    ServerName facturacion.test

    <Directory "/var/www/html/facturacion/public">
        Options Indexes FollowSymLinks
        AllowOverride all
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/facturacion-error.log
    CustomLog ${APACHE_LOG_DIR}/facturacion.log combined
</VirtualHost>